cd:
  dex:
    enabled: false
  server:
    extraArgs:
    - --insecure
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
      hosts:
      - ""
      paths:
      - "/"
    config:
      url: ""
      repositories: |
        - url: https://github.com/okmvp/docker-desktop-k8s.git
        - url: https://github.com/ghilbut/byfs-modules.git
